.user-card {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.user-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.user-avatar {
  overflow: hidden;
  border: 2px solid #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.stat-box {
  background-color: #f7f9fb;
  border-radius: 6px;
  padding: 8px;
  transition: background-color 0.2s;
}

.stat-box:hover {
  background-color: #eef1f6;
}

/* Nova classe para o box convertido */
.stat-box-converted {
  background-color: #d4edda; /* Verde claro */
  border-radius: 6px;
  padding: 8px;
  transition: background-color 0.2s;
}

.stat-box-converted:hover {
  background-color: #c3e6cb; /* Verde claro mais escuro no hover */
}

.secondary-stat {
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.secondary-stat:hover {
  background-color: #f7f9fb;
}

.badge {
  background-color: #747474;
  color: white;
}

.badge-highlight {
  background-color: #0176d3;
  color: white;
}

.badge-neutral {
  background-color: #747474;
  color: white;
}

.badge-success {
  background-color: #2e844a;
  color: white;
}

.expand-button {
  border-radius: 4px;
  transition: background-color 0.2s;
  border: none;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.card-title {
  font-weight: 600;
  color: #032d60;
}

.card-role {
  color: #5a5a5a;
}

.animate-expand {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}
